<div class="nav-items">
  <div class="nav-item">
    <fa-icon [icon]="faHome"></fa-icon>
    <span>Inicio</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faFileArchive"></fa-icon>
    <span>Areas</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Vinculación</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Atracción</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Nómina</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Gestión del servicio</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Comercial</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Seguridad Social</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Jurídica</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Informática</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">CAD</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Financiera</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faLink"></fa-icon>
    <span>Generalidades</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Directorio Corporativo</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Bitácora</span>
  </div>
  <div class="nav-item">
    <span class="no-icon">Solicitudes</span>
  </div>
  <div class="nav-item">
    <span></span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faSignOut"></fa-icon>
    <span>Salir</span>
  </div>
</div>
