<div class="nav-items">
  <div class="nav-item">
    <fa-icon [icon]="faHome"></fa-icon>
    <span style="color: #fff;">Inicio</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faFileArchive"></fa-icon>
    <span style="color: #fff;">Areas</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vinculación</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Atracción</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nómina</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;Gestión del servicio</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comercial</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seguridad Social</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jurídica</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Informática</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CAD</span>
  </div>
  <div class="nav-item">
    <span class="no-icon"style="color: #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Financiera</span>
  </div>

</div>
